#row-1-0{
	position: relative;
  background: #e7e7e7;
  height: 500px;
  -webkit-clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
}

#row-1-0::after {
  position: absolute;
  display: unset;
  content: "";
  background-image: url(images/head.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 47.5%;
  -webkit-clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  transform: rotate(12deg);
  transform: translate(-50%, -50%);
}

#col-1-0{
  z-index: 1;
  background-color: #ffffff;
  border-top: 10px solid #e7e7e7;
  border-bottom: 10px solid #e7e7e7;
  height: 100px;
  margin: 115px 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 146.85px;
  padding-top: 25px;
}

#col-1-1{
  z-index: 1;
  background-color: #ffffff;
  border-top: 10px solid #e7e7e7;
  border-bottom: 10px solid #e7e7e7;
  height: 100px;
  margin: 115px 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 146.85px;
  padding-top: 25px;
}

#img-1-0{
  width: 30.3px;
  height: 30.3px;
}

#img-1-1{
  width: 30.3px;
  height: 34.3px;
  margin: -5px 0;
}

.p-head{
  padding-left: 10px;
  margin: -5px 0;
  font-family: 'Open Sans';
  font-size: 15.77px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #626676;
}

#div-1-central{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 222px;
  height: 222px;
  border: 12px solid #e7e7e7;
  border-radius: 50%;
  background-image: url(images/logotype.png);
  background-size: cover;
  margin: -87px 0;
}

#col-1-2{
  z-index: 1;
  margin: -60px 0;
}

#col-1-3{
  z-index: 1;
  margin: -60px 0;
}

#h1-1-0{
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 54.11px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

#h1-1-1{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 24.22px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #78bef5;
}

@media (max-width: 1035px) {
  #col-1-0{display: none; }
  #col-1-1{display: none; }
  #col-1-2{margin: 327px 0;}
  #col-1-3{margin: -324px 0;}
}

@media (max-width: 580px) {
  #h1-1-0{font-size: 36.07px; margin: -20px 0;}
  #h1-1-1{font-size: 16.14px; margin: +10px 0;}
}

#container-2-0{
  margin-top: 57.14px;
  width: 50%;
}

#h2-2-0{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 27.08px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2ca9f0;
}

#p-2-0{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18.05px;
  line-height: 31.42px;
  font-weight: 400;
  color: #626676;
}

@media (max-width: 970px) {
  #container-2-0{width: 80%;}
  #p-2-0{text-align: center;}
}

#container-3-0{
  width: 80%;
  height: 100%;
  padding-top: 53px;
  padding-bottom: 18px;
}

#row-3-0{
  height: 100%;
}

.h2-3-0{
  font-family: 'Open Sans';
  font-size: 27.08px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2ca9f0;
}

#h2-3-0l{
  margin-bottom: 40px;
}

#h5-3-0{
  font-family: 'PT Sans', sans-serif;
  font-style: regular;
  font-size: 19.82px;
  line-height: 55px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2d3141;
}

.p-3-0{
  font-family: 'PT Sans', sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 18.05px;
  font-weight: 400;
  color: #2d3141;
}

.f-circle{
  position: relative;
  z-index: 100;
  width: 25px;
  height: 25px;
  background: #50a8ea;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.f-line{
  width: 2px;
  height: 41%;
  background: #d9dde9;
  margin-left: 10px;
}

@media (max-width: 575px) { 
  #col-3-0{width: 100%;}
  #col-3-1{display:none}
  #container-3-0{width: 100%;}
  #container-2-0{width: 100%;}
  .h2-3-0{text-align: center;}
  #h5-3-0{text-align: center;}
  #h2-3-0r{margin-top: 40px;}
}

#container-grid-4{
  margin-top: 40px;
  background-color: #1368b3;
}

#row-grid-4{
  width: 80%;
}

.circle-photo{
  width: 100px;
  height: 100px;
  
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

#photo-angelina{
  background-image: url(images/angelina.png);
  background-size: cover;
}

#photo-igor{
  background-image: url(images/igor.png);
  background-size: cover;
}

#photo-artem{
  background-image: url(images/artem.png);
  background-size: cover;
}

#photo-rostyslav{
  background-image: url(images/rostyslav.png);
  background-size: cover;
}

#photo-roman{
  background-image: url(images/roman.png);
  background-size: cover;
}

#team-circle{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#team-name{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 19.08px;
  
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  color: #78bef5;
}

#team-desc{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 9.54px;
  
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #78bef5;
}

#team-title{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 27.08px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #78bef5;
  
}

#wrapper-container-4{
  width: 80%;
  height: 100%;
  padding-top: 53px;
  padding-bottom: 18px;
}

@media (max-width: 800px) {
  #wrapper-container-4{width: 100%;}
  #team-title{width: 100%; text-align: center;}
  #col-4-0{width: 100%; }
  #col-4-1{width: 100%; }
  #col-4-2{display: none;}
  #row-4-0{justify-content: space-evenly;}
  #row-4-1{justify-content: flex-end;}
}

@media (max-width: 575px) {
  #wrapper-container-4{height: 685px;}
  #row-4-0{width: 50%; flex-wrap: nowrap; display: flex; justify-content: space-between;}
  #row-4-1{width: 50%; flex-wrap: nowrap; display: flex; justify-content: space-between;}
  #col-4-4{position: absolute; margin: 200px -17.5px;}
}